@model List<Book_App.Models.Book>

@{
    ViewData["Title"] = "All Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12 col-md-4 mb-3">
            <div class="input-group">
                <label for="genreFilter" class="input-group-text">Filter by Genre</label>
                <select class="form-select" id="genreFilter">
                    <!-- Add your genre options here -->
                    <option value="fantasy">Fantasy</option>
                    <option value="mystery">Mystery</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by Title">
                <button class="btn btn-outline-secondary"
                                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center text-md-start">
            <a asp-controller="Books" asp-action="Create" class="btn btn-primary">Create a Book</a>
        </div>
    </div>

    <h2 class="mb-5 mt-3 text-center">@ViewData["Title"]</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="margin-bottom:65px">
        @foreach (var book in Model)
        {
            <div class="col">
                <div class="card h-100 border-0">
                    <div class="d-flex justify-content-center">
                        <img src="@book.ImgUrl" class="card-img-top" alt="@book.Title" style="max-width: 300px; max-height: 400px;">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Author</p>
                        <p class="card-text"><small class="text-muted">Published: @book.YearPublished</small></p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="mt-4 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">1</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
